.m-hero-ab{
    height: 100vh;
    background: linear-gradient( #F87608,#FAD046);
}

.m-hero-ab__title{

    font-family: 'Josefin Sans', sans-serif;
    width: 48vw;
    font-size: 64px;
}
.m-hero-ab__image{
    width: 100vw;
    height: 100vh;
    /* background-image: url("/assets/images/york.png");
    background-size:cover; */

}

.bd-ab{
    color: #FBF3DF;
    height: 115vh;
    background-color: #f87608e6;
    
}
.bd-ab__title{
    font-family: 'Josefin Sans', sans-serif;
    width: 52vw;
    
}

.bd-ab__mission__title, .bd-ab__mission__text, .bd-ab__values__title, .bd-ab__values__text, .bd-ab__vision__title,.bd-ab__vision__text, .list li{
    font-family: 'Josefin Sans', sans-serif;
   
}
.bd-ab__mission__text, .bd-ab__values__text{
    width: 40vw;
}

.bd-ab__values p{
    width: 90%;
}

.bd-visit{
    background-color: #FBF3DF;
    height: 150vh;
}

.col .bd-visit__addr__title .col address{
    width: 30vw;
}

.bd-visit__title,.bd-visit__sub-title{
    text-align: center;
}
.bd-visit__title, .bd-visit__sub-title, .bd-visit__addr__title, .bd-visit__addr__text {
    font-family: 'Josefin Sans', sans-serif;
    color: #253239;

}
.bd-ab__values__image-mobile{
    display: none;
}

@media screen and (max-width:976px){

    .logo__text{
        display: none;
    }

    .m-hero-ab{
        flex-direction: column;
        padding: 0;
    }
    .m-hero-ab__title{
        font-size: 52px !important;
        margin: auto;
        width: 95vw;
        line-height: 4.75rem;
        margin: 1rem !important;
    }
    .m-hero-ab__image{
        max-width: 100%;
        height: 40%;
    
    }
    .bd-ab{
        height: 240vh;
        padding: 1rem !important;
        
    }

    .bd-ab__title {
        
        width: 90vw;
        padding-top: 1rem;
        text-align: center;
        line-height: 2.5rem;
        
    }
    .bd-ab__mission__text, .bd-ab__values__text{
        width: 85vw;
        
    }
    .bd-ab__values{
        margin-top: 1rem;
        margin-left: 0 !important;
    }
    .bd-ab__values__title{
        margin-top: 1rem;
    }
    .bd-ab__values__text{
        width: 100%;
    }

    .bd-ab__values__image-mobile{
        display:block;
        position: relative;
        width: 15rem;
        height: 20rem;
        background-image: url("/assets/images/family-dog.svg");
        background-size:cover;
        margin: auto;
    }

   
    .bd-visit{
        padding: 1rem !important;
        height: 250vh;
    }
    .bd-visit__addr col{
        padding: 0 !important;
       
    }
    .bd-visit__title , .bd-visit__sub-title{
        text-align: left;
    }

    .bd-visit__title{
        
        font-size: 3rem !important;
        line-height: 5rem;
    }

    .bd-visit__sub-title
    {
        font-size: 1.75rem !important;
    }

    .bd-visit__addr{
        padding: 0 !important;
       
    }
    
    .col .bd-visit__addr__text {
        width: 100vw;
        
    }

    .bd-visit__addr__title{
        text-align: center;
        font-size: 1.7rem !important;
    }
    .bd-visit__addr__text{
        font-size: 1.5rem !important;
        margin-bottom: 5rem;
    }

    .bd-visit__addr__map{
        padding: .75rem !important;
    }
    .bd-visit__addr__map iframe{
        width: 100%;
        height: 100vh;
    }
}


@media screen and (max-width:430px){
    .bd-values{
        height: 200vh;
        
    }
    .bd-visit{
        
        height: 250vh;
    }
}
@media screen and (max-width:415px) and (max-height:740px){
    .bd-values{
        height: 250vh;
        
    }
    .bd-visit{
        
        height: 270vh;
    }
}


@media screen and (max-width:390px){
    .bd-values{
        height: 230vh;
        
    }
    .bd-visit{
        
        height: 270vh;
    }
}

@media screen and (max-width:380px) and (max-height:760px){
    .bd-values{
        height: 290vh;
        
    }
    .bd-visit{
        
        height: 300vh;
    }
}





