.signup{
   
    background-color: #FFD54F;
    height: 175vh;
}
.signup h1{
    font-size: 56px;
    font-family: 'Atma', cursive;
    color: #253239;
}

.signup p{
    font-family: 'Josefin Sans', sans-serif;
    color: #253239;
    width: 90%;
}

.figure-cat0{
    
    height: 100vh;
    width: 50vw;
    /* background-image: url("/assets/images/gatinho.svg");
    background-size:auto; */
}

.figure-cat0 img{
    height: 80%;
    width: 100%;
    
    
}

.form{
    width: 50vw;
    height: 70vh;
    background-color: #253239;
}

.form h2{
    color: #F87608;
    font-family: 'Josefin Sans', sans-serif;
}


.btn-send{
    font-family: 'Josefin Sans', sans-serif;
    color: #FFF;
    background-color: #F87608;
    width: 07rem;

    --bs-btn-hover-bg: #F87608;
  
}
  

@media screen and (max-width:976px){
    .logo__text{
        display: none;
    }
    .figure-cat0 {
        display: none;
        
    }
    /* .figure-cat0{
        height: 35vw;
        width: 43vw;
        position: absolute;
        top: 120%;
        left: 25%;
        background-image: url("/assets/images/cat-02.svg");
        background-size: cover;
    } */
    .signup{
        height: 225vh;
    }
    .form{
        width: 180vw;
        height: 100vh;
        background-color: #253239;
    }
    .signup p{
        margin-bottom: 10rem;
    }
}
