.m-signup{
   
    background-color: #FFD54F;
    height: 165vh;
}

.m-signup__title {
    font-size: 56px;
    font-family: 'Atma', cursive;
    color: #253239;
    text-align: center;
}

.m-signup__text{
    font-family: 'Josefin Sans', sans-serif;
    color: #253239;
    width: 90%;
    text-align: center;
}

.m-signup__figure {
    
    height: 100vh;
    width: 50vw;

}

.m-signup__figure  img{
    height: 80%;
    width: 100%;
    
    
}

.form{
    width: 50vw;
    height: 70vh;
    background-color: #253239;
}

.form__title{
    color: #F87608;
    font-family: 'Josefin Sans', sans-serif;
}


.form__btn-send{
    font-family: 'Josefin Sans', sans-serif;
    color: #FFF;
    background-color: #F87608;
    width: 7rem;

    --bs-btn-hover-bg: #F87608;
  
}
  


@media screen and (max-width:976px){

    .logo__text{

        display: none;
    }

    .m-signup{

        min-height: 100rem;
        max-height: 180rem;
    }

    .m-signup__title{

        font-size: 48px;
        text-align: left;
        padding-left: 2rem;

    }
    .m-signup__text{

        margin-bottom: 10rem;
        font-size: 24px;
        padding-bottom: 4rem;
        text-align: left;
    }
    

    .m-signup__figure  img{

        display: none;
        
    }

    .m-signup__figure {

        height: 35vw;
        width: 43vw;
        position: absolute;
        background-image: url("/assets/images/cat-02.svg");
        background-size: cover;
        z-index: 2;
        margin-left: 5rem;
        margin-top:-4rem;
    }
   
    .form{

        width: 180vw;
        min-height: 42rem;
        background-color: #253239;
        z-index: 1;
    }
   
    .row{

        margin-top: 8.75rem;
    }

    .form__title{

        font-size: 40px;
        margin-top: 1.75rem;
    }


    .form__input{

        height: 4rem;

    }

    .form__btn-send{

        height: 4rem;
        width: 12rem;
        font-size: 20px;
    }
}

@media screen and (min-width:810px) and (max-width:980px){

    .m-signup__figure{
        margin-top:-16vh;
    }

    .form__title{

        margin-top: 6.5rem;
    }
}
@media screen and (min-width:500px) and (max-width:800px){

    .m-signup__figure{

        height: 35vw;
        width: 45vw;
        margin-left: 6rem;
        margin-top:-11vh;
    }

    .form__title{

        margin-top: 5.25rem;
    }
}
@media screen and (max-width:400px){
    .m-signup{

        min-height: 115rem;
        
    }
}

