:root{
    --main-color: #F87608;
    --secondary-color: #FFD54F;
    --tertiary-color: #253239;
    --main-font-color: #FBF3DF;

    --main-font: font-family: 'Atma', cursive;
    --secondary-font: font-family: 'Josefin Sans', sans-serif;

    --main-gradient: linear-gradient( #FAD046,#F87608);
}