@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


/* Seguir Metologia BEM */

body{
    background-color: #253239;
}
.header{

    background-color: #253239; 

 }

.menu__list{

    color: #FFF;    
}

.menu__list__item a{

    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: #FFD54F;
}

.logo__text{

    font-family: 'Atma', cursive;
    color: #FFF;

}

/* Seção de apresentação */

.m-hero{

    height: 116.5vh;
    background-color: #FAD046;

}

.m-hero__slogan{

    font-family: 'Atma', cursive;
    font-size: 3.75rem;
    line-height: 1.75em;

    color: #253239
}

.m-hero div{

    width: 50vw;
    padding: 64px;
    
}

.m-hero__figure{

    height: 100%;
    background-color: #352d1333;
    
}

.m-hero__figure__image{
    
    position: absolute;
    top: 142.75px;
    right:10%;
    width: 45vw;
  
}

/* Sub-página de apresentação */

.sub-pg-hero{

    height: 500px;
    background-color:#253239;
}

.sub-pg-hero__figure__image{

    width: 40vw;
    
}

.sub-pg-hero__text{

    width: 40vw;
    line-height: 4rem;
    color: #FBF3DF;
    font-family: 'Josefin Sans', sans-serif;

}

/* Conteúdo principal */

.bd-content{
 
    width: 100%;
    height: 60%;

    background-color: #FBF3DF;
}

.bd-content__figure{

    width: 40vw;
    background-color: #f87608cc;
    padding: 1rem 10rem;
}

.bd-content__sub-service{
    
    width: 50vw;

}

.bd-content__sub-service__title{

    font-family: 'Josefin Sans', sans-serif;
    line-height: 2.25rem;
    color: #263239;
}

.bd-content__sub-service__text{

    font-family: 'Josefin Sans', sans-serif;
    line-height: 2rem;
    color: #263239;
    
}

.bd-content__sub-service__list{

    list-style-image: url(../images/ICON-PAWN.svg);
    list-style-position: inside;

    display: flex;
    flex-direction: column;
    
}

.bd-content__sub-service__list__item{
    
    font-family: 'Josefin Sans', sans-serif;
    color: #263239;
    
}
.bd-content__sub-service__list__item__img-icon{
    display: none;
}

.bd-content__sub-service__btn{

    font-family: 'Josefin Sans', sans-serif;
    color: #FFF;
    background-color: #F87608;
    width: 200px;

}


/* Sub-página do conteudo principal - Serviços */

.bd-sub{

    padding: 5rem 0 5rem 0;
    background: linear-gradient( #FAD046,#F87608);
    gap:72px;
}

.bd-sub__title{

    font-family: 'Atma', cursive;
    color: #263239;
    font-size: 3.25rem;

}

.bd-sub__text{

    width: 93vw;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.75rem;
    color: #263239;
}


.bd-sub__preview__serv{

    width: 640px;
    height: 655px;

    background-color: #253235;
    color: #FBF3DF;

}

.bd-sub__preview__image{

    width: 100%;
    height: 400px;

    border-radius: 20px 20px 0 0;
    border: #253239 solid 2px;
}

.bd-sub__preview__serv__title{

    font-family: 'Josefin Sans', sans-serif;
    padding: 1.95rem  1.95rem 0 1.95rem;
}

.bd-sub__preview__serv__text{

    font-family: 'Josefin Sans', sans-serif;
    width: 640px;
    padding: 1.75rem;

}

/* Conteudo secundário */

.bd-brands{

    padding: 5rem 0 5rem 0;
    background-color: #FBF3DF;

}

.bd-brands__title{
    
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    color:#263239;

}

.bd-brands__text{

    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color:#263239;
    width: 100vw;

}

.bd-brands__figures{

    width: 90.25vw;
}

/* Rodapé */

footer{

    background-color: #253239;
    height: 40vh;
}

.logo-footer{

    width: 20vw;
}

.logo-footer .logo__image{
    width: 12rem;  
}

.logo-footer__text{

    font-family: 'Atma', cursive;

    color: #FFFFFF;

}



.inf-line{

    background-color: #253239;
    color: #FBF3DF;

    border-top: #00000080 4px solid;

    padding: 3rem 3rem 1rem 3rem;
}

.inf-line__text{
    font-family: 'Josefin Sans', sans-serif;
}


/* Media queries */

@media screen and (max-width:976px){
    .logo__text{
        display: none;
    }

    .m-hero{

        height: 50rem;
        flex-direction: column !important;
    
    }
    
    .m-hero__slogan{
    

        font-size: 3rem;
        line-height: 1.75em;
    }
    
    .m-hero div{
    
        width: 100%;
        padding: 2rem;
        
        
    }
    
    .m-hero__figure{
        
        min-height: 40rem;
        min-width: 100vw;
        background-image: url('/assets/images/cachorro-principal.png');
        background-size: contain;
        background-repeat: no-repeat;



        
    }
    .m-hero__figure__image{
        display: none;
    }

    .sub-pg-hero{

        background-image: linear-gradient(rgba(37, 50, 57, 0.6), rgba(37, 50, 57, .6)), url('/assets/images/logo.svg');
     
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
       
        position: relative;
 
        width: 100%;
        height: 70vh;

        padding-top: 2rem !important;
                    
        flex-direction: column-reverse !important;
        justify-content: space-evenly !important;
        
    }

    .sub-pg-hero__figure img{
        display:none
    }

    .sub-pg-hero__text{
       
        width: 90%;
        margin: auto !important;
        font-weight: 900;
        font-size: 2.25rem !important;;

    
    }

    .bd-content__sub-service__title{
        font-size: 1.75rem !important;
    }

    .bd-content__sub-service__text{
        font-size: 1.5rem !important;
    }

    .bd-content__sub-service__list{
    
        list-style-image:none;

        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
    }

    .bd-content__sub-service__list__item__img-icon{
        display: inline;
        width: 40px;
    }

    .bd-content__sub-service__list__item{
        
        font-size: 1.25rem !important;
        display: flex;
        gap: 20px;
        justify-content: space-between;
        
    }

    .bd-content{
 
        flex-direction: column !important;
        align-items: center;
    }
    
    .bd-content__figure{
        
        width: 100%;
        padding: 1rem;
        
    }

    .bd-content__figure__image{
        margin-left: 30%;
        min-height: 20vh;
        max-height: 65vh;
    }

    .bd-content__sub-service{
        
        width: 90%;
    
    }
    
    .bd-sub{

        gap:50px;
        padding: 1rem !important;
    }
    
    .bd-sub__title{
        margin: 0 !important;
        padding: 1rem;
        font-size: 2.5rem;
        width: 100%;
        line-height: 5rem;
    
    }
    
    .bd-sub__text{
    
        width: 90%;
        font-size: 1.25rem;

    }
    
    .bd-sub__preview {
        min-width: 70%;
        max-width: 100%;

        display: grid !important;
        gap: 2rem !important;
        grid-template-columns: repeat(2,100%) !important;
        grid-auto-flow: column !important;

        overflow: auto hidden !important;
    }
    
    .bd-sub__preview__serv{
        
        margin: 0 auto;
        max-width: 100%;
        max-height: 85vh;
    
        background-color: #253235;
        color: #FBF3DF;

    }
    
    .bd-sub__preview__image{
    
        max-width: 100%;
        max-height: 300px;
    
        border-radius: 20px 20px 0 0;
        border: #253239 solid 2px;
    }
    
    .bd-sub__preview__serv__title{
    
        padding: 1rem;
    }
    
    .bd-sub__preview__serv__text{
    
        width: 90vw;
        padding: 1rem;
    
    }

    .bd-brands{
       

        padding: 1.25rem;
        background-color: #FBF3DF;
    
    }
    
    .bd-brands__title{
        
        font-size: 48px;
        margin: 1rem 0;
    
    }
    
    .bd-brands__text{
    

        font-size: 1.25rem;

        max-width: 100%;
        line-height: 1.95rem;
    
    }
    
    .bd-brands__figures{

        max-width: 100%;

        display: grid !important;
        justify-content: stretch !important;
        gap: 0 !important;
        grid-template-columns: repeat(6,1fr) !important;
        grid-auto-flow: column !important;
        column-gap: 2rem !important;

        overflow: auto hidden !important;

        margin: 5rem auto 3rem !important;
        border-radius: 10rem;
        background-color: #f8740877;
        
        
    }
    .bd-brands__figure{
        background-color: #fbf3df91 ;
        border-radius: 3rem;
        padding: .2rem;
    }

    .bd-brands__figure:first-child{
        padding: 1rem;
    }
    

} 

